In [50]:
src_data_location = 'C:\\Users\\pedam\\Documents\\src_data'

in_config_file = str(src_data_location+"\\configs.properties")
kaggle_json = str(src_data_location+'\\kaggle.json')
kaggle_datasets_fldr = str(src_data_location+'\\kaggle_datasets')
print(in_config_file,kaggle_json)

C:\Users\pedam\Documents\src_data\configs.properties C:\Users\pedam\Documents\src_data\kaggle.json

In [51]:

import json
import os
import csv
import pandas as pd
import numpy as np
from kaggle.api.kaggle_api_extended import KaggleApi
from zipfile import ZipFile
from tabulate import tabulate

In [52]:
#Set kaggle api key 

with open(kaggle_json) as f:
    kaggle_api_key = json.load(f)

# Set Kaggle API key

os.environ['KAGGLE_USERNAME'] = kaggle_api_key['username']
os.environ['KAGGLE_KEY'] = kaggle_api_key['key']

In [53]:
# kaggle_dataset = 'stefanoleone992/fifa-22-complete-player-dataset'

# # Use Kaggle API to download the dataset
# !kaggle datasets download -d {kaggle_dataset}
# Use Kaggle API to download the dataset
# api = KaggleApi()
# api.authenticate()
# api.dataset_download_files(dataset=kaggle_dataset, path='.', unzip=True)

In [54]:
# List the files in the current directory
files = os.listdir('.')
print("Files in the current directory:", files)

Files in the current directory: ['.ipynb_checkpoints', 'Clustering_Examples.ipynb', 'k-means_clustering_project.ipynb', 'LinearRegression_Notebook.ipynb', 'src_data', 'Unsupervised_Learning_Examples_ARM_Workout.ipynb']

In [55]:
files = os.listdir(kaggle_datasets_fldr)
print("Files in the kaggle_datasets_fldr directory:", files)

# Explicitly extract the contents of the zip file
zip_file_path = os.path.join(kaggle_datasets_fldr, files[0])
with ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(kaggle_datasets_fldr)

extracted_files = os.listdir(kaggle_datasets_fldr)
#print("Files after extraction:", extracted_files)

csv_files = [file for file in extracted_files if file.endswith('.csv')]

print(csv_files)

Files in the kaggle_datasets_fldr directory: ['Career Mode female player datasets - FIFA 16-22.xlsx', 'Career Mode player datasets - FIFA 15-22.xlsx', 'docProps', 'female_players_16.csv', 'female_players_17.csv', 'female_players_18.csv', 'female_players_19.csv', 'female_players_20.csv', 'female_players_21.csv', 'female_players_22.csv', 'fifa-22-complete-player-dataset.zip', 'players_15.csv', 'players_16.csv', 'players_17.csv', 'players_18.csv', 'players_19.csv', 'players_20.csv', 'players_21.csv', 'players_22.csv', 'xl', '[Content_Types].xml', '_rels']
['female_players_16.csv', 'female_players_17.csv', 'female_players_18.csv', 'female_players_19.csv', 'female_players_20.csv', 'female_players_21.csv', 'female_players_22.csv', 'players_15.csv', 'players_16.csv', 'players_17.csv', 'players_18.csv', 'players_19.csv', 'players_20.csv', 'players_21.csv', 'players_22.csv']

In [56]:
 # Read each CSV file into a DataFrame and concatenate them
dfs = []
for csv_file in csv_files:
    csv_file_path = os.path.join(kaggle_datasets_fldr, csv_file)
    df = pd.read_csv(csv_file_path)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
#final_df = pd.concat(dfs, ignore_index=True)

# Print the first few rows of the concatenated DataFrame
#print("Concatenated DataFrame:")
#print(final_df.head())

C:\Users\pedam\AppData\Local\Temp\ipykernel_5256\1571927680.py:5: DtypeWarning: Columns (104) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)
C:\Users\pedam\AppData\Local\Temp\ipykernel_5256\1571927680.py:5: DtypeWarning: Columns (104) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)
C:\Users\pedam\AppData\Local\Temp\ipykernel_5256\1571927680.py:5: DtypeWarning: Columns (81,82,83,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)
C:\Users\pedam\AppData\Local\Temp\ipykernel_5256\1571927680.py:5: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)

In [57]:
csv_file

'players_22.csv'

In [58]:
csv_file_path = os.path.join(kaggle_datasets_fldr, csv_file)

In [59]:
players = pd.read_csv(csv_file_path, delimiter=',', quoting=csv.QUOTE_MINIMAL)

C:\Users\pedam\AppData\Local\Temp\ipykernel_5256\1098609618.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv(csv_file_path, delimiter=',', quoting=csv.QUOTE_MINIMAL)

In [60]:
players.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andr√©s Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos J√∫nior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [61]:
print(tabulate(players.head(), headers='keys', tablefmt='psql'))

+----+-------------+--------------------------------------------------------------------+-------------------+-------------------------------------+--------------------+-----------+-------------+-------------+------------+-------+------------+-------------+-------------+----------------+---------------------+------------------------+----------------+-----------------+----------------------+--------------------+---------------+-----------------------------+------------------+--------------------+------------------+-------------------+------------------------+------------------+-------------+---------------+----------------------------+-------------+-------------+-------------+----------------------+---------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+--------+------------+-----------+-------------+-------------+----------+----------------------+-----------------------+------------------------------+---------------------------+---------------------+-------------------+---------------+---------------------+----------------------+----------------------+-------------------------+-------------------------+--------------------+----------------------+--------------------+--------------------+-----------------+-----------------+------------------+--------------------+------------------------+---------------------------+-------------------------+--------------------+-----------------------+-----------------------+-------------------------------+-----------------------------+----------------------------+----------------------+------------------------+-----------------------+---------------------------+------------------------+---------------------+------+------+------+------+------+------+------+------+-------+-------+-------+------+-------+------+-------+------+-------+-------+-------+-------+-------+------+-------+------+-------+------+------+---------------------------------------------------+----------------------------------------+-----------------------------------------+------------------------------------------+-------------------------------------+
|    |   sofifa_id | player_url                                                         | short_name        | long_name                           | player_positions   |   overall |   potential |   value_eur |   wage_eur |   age | dob        |   height_cm |   weight_kg |   club_team_id | club_name           | league_name            |   league_level | club_position   |   club_jersey_number |   club_loaned_from | club_joined   |   club_contract_valid_until |   nationality_id | nationality_name   |   nation_team_id | nation_position   |   nation_jersey_number | preferred_foot   |   weak_foot |   skill_moves |   international_reputation | work_rate   | body_type   | real_face   |   release_clause_eur | player_tags                                                                                             | player_traits                                                                                                                   |   pace |   shooting |   passing |   dribbling |   defending |   physic |   attacking_crossing |   attacking_finishing |   attacking_heading_accuracy |   attacking_short_passing |   attacking_volleys |   skill_dribbling |   skill_curve |   skill_fk_accuracy |   skill_long_passing |   skill_ball_control |   movement_acceleration |   movement_sprint_speed |   movement_agility |   movement_reactions |   movement_balance |   power_shot_power |   power_jumping |   power_stamina |   power_strength |   power_long_shots |   mentality_aggression |   mentality_interceptions |   mentality_positioning |   mentality_vision |   mentality_penalties |   mentality_composure |   defending_marking_awareness |   defending_standing_tackle |   defending_sliding_tackle |   goalkeeping_diving |   goalkeeping_handling |   goalkeeping_kicking |   goalkeeping_positioning |   goalkeeping_reflexes |   goalkeeping_speed | ls   | st   | rs   |   lw |   lf |   cf |   rf |   rw | lam   | cam   | ram   | lm   | lcm   | cm   | rcm   | rm   | lwb   | ldm   | cdm   | rdm   | rwb   | lb   | lcb   | cb   | rcb   | rb   | gk   | player_face_url                                   | club_logo_url                          | club_flag_url                           | nation_logo_url                          | nation_flag_url                     |
|----+-------------+--------------------------------------------------------------------+-------------------+-------------------------------------+--------------------+-----------+-------------+-------------+------------+-------+------------+-------------+-------------+----------------+---------------------+------------------------+----------------+-----------------+----------------------+--------------------+---------------+-----------------------------+------------------+--------------------+------------------+-------------------+------------------------+------------------+-------------+---------------+----------------------------+-------------+-------------+-------------+----------------------+---------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+--------+------------+-----------+-------------+-------------+----------+----------------------+-----------------------+------------------------------+---------------------------+---------------------+-------------------+---------------+---------------------+----------------------+----------------------+-------------------------+-------------------------+--------------------+----------------------+--------------------+--------------------+-----------------+-----------------+------------------+--------------------+------------------------+---------------------------+-------------------------+--------------------+-----------------------+-----------------------+-------------------------------+-----------------------------+----------------------------+----------------------+------------------------+-----------------------+---------------------------+------------------------+---------------------+------+------+------+------+------+------+------+------+-------+-------+-------+------+-------+------+-------+------+-------+-------+-------+-------+-------+------+-------+------+-------+------+------+---------------------------------------------------+----------------------------------------+-----------------------------------------+------------------------------------------+-------------------------------------|
|  0 |      158023 | https://sofifa.com/player/158023/lionel-messi/220002               | L. Messi          | Lionel Andr√©s Messi Cuccittini      | RW, ST, CF         |        93 |          93 |   7.8e+07   |     320000 |    34 | 1987-06-24 |         170 |          72 |             73 | Paris Saint-Germain | French Ligue 1         |              1 | RW              |                   30 |                nan | 2021-08-10    |                        2023 |               52 | Argentina          |             1369 | RW                |                     10 | Left             |           4 |             4 |                          5 | Medium/Low  | Unique      | Yes         |            1.443e+08 | #Dribbler, #Distance Shooter, #FK Specialist, #Acrobat, #Clinical Finisher, #Complete Forward           | Finesse Shot, Long Shot Taker (AI), Playmaker (AI), Outside Foot Shot, One Club Player, Chip Shot (AI), Technical Dribbler (AI) |     85 |         92 |        91 |          95 |          34 |       65 |                   85 |                    95 |                           70 |                        91 |                  88 |                96 |            93 |                  94 |                   91 |                   96 |                      91 |                      80 |                 91 |                   94 |                 95 |                 86 |              68 |              72 |               69 |                 94 |                     44 |                        40 |                      93 |                 95 |                    75 |                    96 |                            20 |                          35 |                         24 |                    6 |                     11 |                    15 |                        14 |                      8 |                 nan | 89+3 | 89+3 | 89+3 |   92 |   93 |   93 |   93 |   92 | 93    | 93    | 93    | 91+2 | 87+3  | 87+3 | 87+3  | 91+2 | 66+3  | 64+3  | 64+3  | 64+3  | 66+3  | 61+3 | 50+3  | 50+3 | 50+3  | 61+3 | 19+3 | https://cdn.sofifa.net/players/158/023/22_120.png | https://cdn.sofifa.net/teams/73/60.png | https://cdn.sofifa.net/flags/fr.png     | https://cdn.sofifa.net/teams/1369/60.png | https://cdn.sofifa.net/flags/ar.png |
|  1 |      188545 | https://sofifa.com/player/188545/robert-lewandowski/220002         | R. Lewandowski    | Robert Lewandowski                  | ST                 |        92 |          92 |   1.195e+08 |     270000 |    32 | 1988-08-21 |         185 |          81 |             21 | FC Bayern M√ºnchen   | German 1. Bundesliga   |              1 | ST              |                    9 |                nan | 2014-07-01    |                        2023 |               37 | Poland             |             1353 | RS                |                      9 | Right            |           4 |             4 |                          5 | High/Medium | Unique      | Yes         |            1.972e+08 | #Aerial Threat, #Distance Shooter, #Clinical Finisher, #Complete Forward                                | Solid Player, Finesse Shot, Outside Foot Shot, Chip Shot (AI)                                                                   |     78 |         92 |        79 |          86 |          44 |       82 |                   71 |                    95 |                           90 |                        85 |                  89 |                85 |            79 |                  85 |                   70 |                   88 |                      77 |                      79 |                 77 |                   93 |                 82 |                 90 |              85 |              76 |               86 |                 87 |                     81 |                        49 |                      95 |                 81 |                    90 |                    88 |                            35 |                          42 |                         19 |                   15 |                      6 |                    12 |                         8 |                     10 |                 nan | 90+2 | 90+2 | 90+2 |   85 |   88 |   88 |   88 |   85 | 86+3  | 86+3  | 86+3  | 84+3 | 80+3  | 80+3 | 80+3  | 84+3 | 64+3  | 66+3  | 66+3  | 66+3  | 64+3  | 61+3 | 60+3  | 60+3 | 60+3  | 61+3 | 19+3 | https://cdn.sofifa.net/players/188/545/22_120.png | https://cdn.sofifa.net/teams/21/60.png | https://cdn.sofifa.net/flags/de.png     | https://cdn.sofifa.net/teams/1353/60.png | https://cdn.sofifa.net/flags/pl.png |
|  2 |       20801 | https://sofifa.com/player/20801/c-ronaldo-dos-santos-aveiro/220002 | Cristiano Ronaldo | Cristiano Ronaldo dos Santos Aveiro | ST, LW             |        91 |          91 |   4.5e+07   |     270000 |    36 | 1985-02-05 |         187 |          83 |             11 | Manchester United   | English Premier League |              1 | ST              |                    7 |                nan | 2021-08-27    |                        2023 |               38 | Portugal           |             1354 | ST                |                      7 | Right            |           4 |             5 |                          5 | High/Low    | Unique      | Yes         |            8.33e+07  | #Aerial Threat, #Dribbler, #Distance Shooter, #Crosser, #Acrobat, #Clinical Finisher, #Complete Forward | Power Free-Kick, Flair, Long Shot Taker (AI), Speed Dribbler (AI), Outside Foot Shot                                            |     87 |         94 |        80 |          88 |          34 |       75 |                   87 |                    95 |                           90 |                        80 |                  86 |                88 |            81 |                  84 |                   77 |                   88 |                      85 |                      88 |                 86 |                   94 |                 74 |                 94 |              95 |              77 |               77 |                 93 |                     63 |                        29 |                      95 |                 76 |                    88 |                    95 |                            24 |                          32 |                         24 |                    7 |                     11 |                    15 |                        14 |                     11 |                 nan | 90+1 | 90+1 | 90+1 |   88 |   89 |   89 |   89 |   88 | 86+3  | 86+3  | 86+3  | 86+3 | 78+3  | 78+3 | 78+3  | 86+3 | 63+3  | 59+3  | 59+3  | 59+3  | 63+3  | 60+3 | 53+3  | 53+3 | 53+3  | 60+3 | 20+3 | https://cdn.sofifa.net/players/020/801/22_120.png | https://cdn.sofifa.net/teams/11/60.png | https://cdn.sofifa.net/flags/gb-eng.png | https://cdn.sofifa.net/teams/1354/60.png | https://cdn.sofifa.net/flags/pt.png |
|  3 |      190871 | https://sofifa.com/player/190871/neymar-da-silva-santos-jr/220002  | Neymar Jr         | Neymar da Silva Santos J√∫nior       | LW, CAM            |        91 |          91 |   1.29e+08  |     270000 |    29 | 1992-02-05 |         175 |          68 |             73 | Paris Saint-Germain | French Ligue 1         |              1 | LW              |                   10 |                nan | 2017-08-03    |                        2025 |               54 | Brazil             |              nan | nan               |                    nan | Right            |           5 |             5 |                          5 | High/Medium | Unique      | Yes         |            2.387e+08 | #Speedster, #Dribbler, #Playmaker, #FK Specialist, #Acrobat, #Complete Midfielder                       | Injury Prone, Flair, Speed Dribbler (AI), Playmaker (AI), Outside Foot Shot, Technical Dribbler (AI)                            |     91 |         83 |        86 |          94 |          37 |       63 |                   85 |                    83 |                           63 |                        86 |                  86 |                95 |            88 |                  87 |                   81 |                   95 |                      93 |                      89 |                 96 |                   89 |                 84 |                 80 |              64 |              81 |               53 |                 81 |                     63 |                        37 |                      86 |                 90 |                    93 |                    93 |                            35 |                          32 |                         29 |                    9 |                      9 |                    15 |                        15 |                     11 |                 nan | 83+3 | 83+3 | 83+3 |   90 |   88 |   88 |   88 |   90 | 89+2  | 89+2  | 89+2  | 89+2 | 82+3  | 82+3 | 82+3  | 89+2 | 67+3  | 63+3  | 63+3  | 63+3  | 67+3  | 62+3 | 50+3  | 50+3 | 50+3  | 62+3 | 20+3 | https://cdn.sofifa.net/players/190/871/22_120.png | https://cdn.sofifa.net/teams/73/60.png | https://cdn.sofifa.net/flags/fr.png     | nan                                      | https://cdn.sofifa.net/flags/br.png |
|  4 |      192985 | https://sofifa.com/player/192985/kevin-de-bruyne/220002            | K. De Bruyne      | Kevin De Bruyne                     | CM, CAM            |        91 |          91 |   1.255e+08 |     350000 |    30 | 1991-06-28 |         181 |          70 |             10 | Manchester City     | English Premier League |              1 | RCM             |                   17 |                nan | 2015-08-30    |                        2025 |                7 | Belgium            |             1325 | RCM               |                      7 | Right            |           5 |             4 |                          4 | High/High   | Unique      | Yes         |            2.322e+08 | #Dribbler, #Playmaker, #Engine, #Distance Shooter, #Crosser, #Complete Midfielder                       | Injury Prone, Leadership, Early Crosser, Long Passer (AI), Long Shot Taker (AI), Playmaker (AI), Outside Foot Shot              |     76 |         86 |        93 |          88 |          64 |       78 |                   94 |                    82 |                           55 |                        94 |                  82 |                88 |            85 |                  83 |                   93 |                   91 |                      76 |                      76 |                 79 |                   91 |                 78 |                 91 |              63 |              89 |               74 |                 91 |                     76 |                        66 |                      88 |                 94 |                    83 |                    89 |                            68 |                          65 |                         53 |                   15 |                     13 |                     5 |                        10 |                     13 |                 nan | 83+3 | 83+3 | 83+3 |   88 |   87 |   87 |   87 |   88 | 89+2  | 89+2  | 89+2  | 89+2 | 89+2  | 89+2 | 89+2  | 89+2 | 79+3  | 80+3  | 80+3  | 80+3  | 79+3  | 75+3 | 69+3  | 69+3 | 69+3  | 75+3 | 21+3 | https://cdn.sofifa.net/players/192/985/22_120.png | https://cdn.sofifa.net/teams/10/60.png | https://cdn.sofifa.net/flags/gb-eng.png | https://cdn.sofifa.net/teams/1325/60.png | https://cdn.sofifa.net/flags/be.png |

In [96]:
features = ["overall","potential","wage_eur", "value_eur", "age"]
players = players.dropna(subset = features) #drop all the rows with null values on the given features --set of colums

In [97]:
data = players[features].copy()

In [98]:
data

       overall  potential  wage_eur    value_eur  age
0           93         93  320000.0   78000000.0   34
1           92         92  270000.0  119500000.0   32
2           91         91  270000.0   45000000.0   36
3           91         91  270000.0  129000000.0   29
4           91         91  350000.0  125500000.0   30
...        ...        ...       ...          ...  ...
19234       47         52    1000.0      70000.0   22
19235       47         59     500.0     110000.0   19
19236       47         55     500.0     100000.0   21
19237       47         60     500.0     110000.0   19
19238       47         60     500.0     110000.0   19

[19165 rows x 5 columns]

In [19]:
# Steps used in the kmeans data processing the values.
# 1. Scale the data -- we want the data to go from certain value to certain value,
# with clustering we want every column to be treated equally, rescale the max value 1 to 10.
# 2.Initialize random centroids
# 3. Label each data point
# 4. Update Centroids
# 5. Repeat steps 3 and 4 until cetroids stop changing
#####Refer the notebook more about scaling.

In [101]:
data_cook = ((data - data.min())/(data.max() - data.min())) * 9 + 1

In [100]:
data.max()

overall             93.0
potential           95.0
wage_eur        350000.0
value_eur    194000000.0
age                 43.0
dtype: float64

In [102]:
data_cook

         overall  potential   wage_eur  value_eur       age
0      10.000000   9.608696   9.227468   4.618307  7.000000
1       9.804348   9.413043   7.939914   6.543654  6.333333
2       9.608696   9.217391   7.939914   3.087308  7.666667
3       9.608696   9.217391   7.939914   6.984396  5.333333
4       9.608696   9.217391  10.000000   6.822018  5.666667
...          ...        ...        ...        ...       ...
19234   1.000000   1.586957   1.012876   1.002830  3.000000
19235   1.000000   2.956522   1.000000   1.004686  2.000000
19236   1.000000   2.173913   1.000000   1.004222  2.666667
19237   1.000000   3.152174   1.000000   1.004686  2.000000
19238   1.000000   3.152174   1.000000   1.004686  2.000000

[19165 rows x 5 columns]

In [67]:
def random_centroids(data, k):    
    centroids = []
    for i in range(k):
        centroid = data.apply(lambda x : float(x.sample()))
        centroids.append(centroid)
    return pd.concat(centroids, axis=1)

In [104]:
centroids = random_centroids(data_cook, 3)

C:\Users\pedam\AppData\Local\Temp\ipykernel_5256\1366337903.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  centroid = data.apply(lambda x : float(x.sample()))

In [105]:
data_cook.head()

     overall  potential   wage_eur  value_eur       age
0  10.000000   9.608696   9.227468   4.618307  7.000000
1   9.804348   9.413043   7.939914   6.543654  6.333333
2   9.608696   9.217391   7.939914   3.087308  7.666667
3   9.608696   9.217391   7.939914   6.984396  5.333333
4   9.608696   9.217391  10.000000   6.822018  5.666667

In [106]:
centroids

                  0         1         2
overall    4.326087  2.760870  4.521739
potential  5.500000  6.282609  3.934783
wage_eur   1.012876  1.005150  1.038627
value_eur  1.012341  2.391400  1.042497
age        4.333333  2.666667  5.666667

In [107]:
#formula for calculating  distance - from geomentry
#Euclidean distance: it is one of the monst common distance measures 

#d(x1, x2) = square_root_of ((x11-x21)^2 + (x12-x22)^2 + (x13-x23)^2 ...+ (x1n-x2n)^2)

#The expression np.sqrt(((data - centroids.iloc[:, 0]) ** 2).sum(axis=1)) 
#calculates the Euclidean distance between each data point in the dataset (data) 
# data - centroids.iloc[:, 0]: This subtracts the coordinates of the first centroid #
#from each corresponding data point. It computes the differences along each dimension.
#
def get_labels(data, centroids):
    distances = centroids.apply(lambda x: np.sqrt(((data - x) ** 2).sum(axis =1)))
    return distances.idxmin(axis=1)

In [108]:
labels = get_labels(data_cook, centroids)

In [109]:
labels.value_counts()

0    10302
2     5247
1     3616
Name: count, dtype: int64

In [111]:
data_cook.groupby(labels).apply(lambda x: np.exp(np.log(x).mean()))

    overall  potential  wage_eur  value_eur       age
0  5.057468   5.659078  1.257774   1.169437  3.728797
1  3.001470   5.372404  1.036871   1.038019  2.030305
2  4.554301   4.245805  1.102102   1.035001  5.779367

In [112]:
data_cook.groupby(labels).apply(lambda x: np.exp(np.log(x).mean())).T  #each column is centriod and each row is feature.

                  0         1         2
overall    5.057468  3.001470  4.554301
potential  5.659078  5.372404  4.245805
wage_eur   1.257774  1.036871  1.102102
value_eur  1.169437  1.038019  1.035001
age        3.728797  2.030305  5.779367

In [113]:
def new_centroids(data, labels, k):
    return data.groupby(labels).apply(lambda x : np.exp(np.log(x).mean())).T

In [114]:
centroids.T

    overall  potential  wage_eur  value_eur       age
0  4.326087   5.500000  1.012876   1.012341  4.333333
1  2.760870   6.282609  1.005150   2.391400  2.666667
2  4.521739   3.934783  1.038627   1.042497  5.666667

In [115]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [116]:
def plot_clusters(data, labels, centroids, iteration):
    pca = PCA(n_components=2)
    data_2d = pca.fit_transform(data)
    centroids_2d = pca.transform(centroids.T)
    clear_output(wait=True)
    plt.title(f'Iteration {iteration}')  # Added a space for better formatting
    plt.scatter(x=data_2d[:, 0], y=data_2d[:, 1], c=labels)
    plt.scatter(x=centroids_2d[:, 0], y=centroids_2d[:, 1])  # Corrected variable name
    plt.show()

In [121]:
max_iterations=100
k = 3
centriods = random_centroids(data_cook,k)
old_centroids = pd.DataFrame()
iteration = 1

# while iteration < max_iterations and not centroids.equals(old_centroids):
#     old_centroids = centriods
    
#     labels = get_labels(data_cook, centroids)
#     centroids = new_centroids(data_cook, labels, k)
#     plot_clusters(data_cook, labels, centroids, iteration)
#     iteration += 1

C:\Users\pedam\AppData\Local\Temp\ipykernel_5256\1366337903.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  centroid = data.apply(lambda x : float(x.sample()))

In [122]:
centroids

                  1
overall    4.453679
potential  5.179908
wage_eur   1.169680
value_eur  1.105830
age        3.748522